@model CpastroneSkiRental.Models.Deal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Deal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DealId" />
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" class="form-control" />
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentType" class="control-label"></label>
                <input asp-for="RentType" class="form-control" />
                <span asp-validation-for="RentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealGender" class="control-label"></label>
                <input asp-for="DealGender" class="form-control" />
                <span asp-validation-for="DealGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemSize" class="control-label"></label>
                <input asp-for="ItemSize" class="form-control" />
                <span asp-validation-for="ItemSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemAltSize" class="control-label"></label>
                <input asp-for="ItemAltSize" class="form-control" />
                <span asp-validation-for="ItemAltSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemStatus" class="control-label"></label>
                <input asp-for="ItemStatus" class="form-control" />
                <span asp-validation-for="ItemStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemImage" class="control-label"></label>
                <input asp-for="ItemImage" class="form-control" />
                <span asp-validation-for="ItemImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

