@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to ISki!! Please join to our growing community</h1>
        <img src="~/images/ski.jpg" alt="ski Resort" width="1000" height="600" />
    </div>
