@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<h3>We'd love to hear from you!</h3>
<br />
<img src="~/images/ContactUs.jpg" alt="Contact Us" width="100" height="60" />
<div>
    <p>
        Adress:
        <br />
        814 Guelph Line,
        <br />
        Burlington ON L7R 3N6
        <br />
        Phone (905) 632- 6444
        <br />
        Email:
        <br />
        Iski@hotmail.com
        <br />
        <br />
        <br />
        Office Hours:
        <br />
        Wednesday       8am-9pm.
        <br />
        Thursday        8am-9pm.
        <br />
        Friday          8am-9pm.
        <br />
        Saturday        8am-9pm.
        <br />
        Sunday          Closed.
        <br />
        Monday          8am-9pm.
        <br />
        Tuesday         8am-9pm.
    </p>
</div>


